---
layout: base.njk
title: Home
---
<section class="home-intro">
  <h1>Jeff Got a Kidney!</h1>
  <p>I&rsquo;m Jeff Pratt, and I have chronic kidney disease. In 2026, I received a transplant from a living kidney donor through <a href="https://www.kidneyregistry.com/for-patients/paired-kidney-exchange/">the National Kidney Registry's Paired Exchange Program</a>.</p>
</section>

<section>
  <h2>Thanks, Whoever You are</h2>
  <p>I want to thank the donor who donated into the Paired Exchange Program, and the donor from the program who donated to me, neither of whom I know the identity of. Whoever you are, wherever you are, thank you!</p>
</section>
