---
layout: page.njk
title: Projects
permalink: /projects/
---
<ul class="project-list">
  {% for project in projects %}
  <li class="project-list__item">
    <h2 class="project-list__name">
      <a href="{{ project.url }}" rel="noopener noreferrer" target="_blank">{{ project.name }}</a>
    </h2>
    <p class="project-list__desc">{{ project.description }}</p>
  </li>
  {% endfor %}
</ul>
